In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

%matplotlib inline
# ì‹œê°í™” ê²°ê³¼ê°€ ì„ ëª…í•˜ê²Œ í‘œì‹œë˜ë„ë¡
%config InlineBackend.figure_format = 'retina'
df = pd.read_csv("word2vec_wrangling.csv")
df.shape

(61, 2)

In [2]:
df.head()

  exercise_name                                        Content_txt
0            PT  ğŸ’¯ What I try to educate my clients around, doe...
1            ê²€ë„  #20200115\nì €ë… ì´ˆëŒ€!\nì™€ì¸ì” ì†ì— ë¹„ì¹˜ëŠ”\nëª¨ë“  ê²ƒë“¤ì´ í™”ë ¤í•œ\në„ì‹¬ì†...
2        ê¸°êµ¬í•„ë¼í…ŒìŠ¤  #ì˜¤ëŠ˜ì˜ë™ì‘\nìºë”œë½ ë™ì‘ì˜ ì™„ì„± 'í–‰ì‰'\nâ €\nì¤‘ë ¥ì„ ì´ìš©í•´ ì²™ì¶”ë¥¼ ëŠ˜ë ¤ì£¼ê³ \n...
3       ë‹¤ë¹ˆì¹˜ë°”ë””ë³´ë“œ  #mbnìƒìƒì •ë³´ë§ˆë‹¹ \n#ê³ íˆ¬\n#ê³ íˆ¬GX\n#ë‹¤ë¹ˆì¹˜ë°”ë””ë³´ë“œ\n#ìƒë°©ì†¡ #GOTOL...
4          ë“œëŸ¼ìŠ¤í‹±  #ë“œëŸ¼ìŠ¤í‹± #ê³ ë¬´íŒ #í…Œí¬ë¼ìŠ¤í‹± #ì „ìë“œëŸ¼ìš©ìŠ¤í‹±\n\n1. ì „ìë“œëŸ¼íƒ€ê²©ì‹œ ëœ ì‹œë„ëŸ½...

In [4]:
def preprocessing(text):
    # ê°œí–‰ë¬¸ì ì œê±°
    text = re.sub('\\\\n', ' ', text)
    # íŠ¹ìˆ˜ë¬¸ì ì œê±°
    # íŠ¹ìˆ˜ë¬¸ìë‚˜ ì´ëª¨í‹°ì½˜ ë“±ì€ ë•Œë¡œëŠ” ì˜ë¯¸ë¥¼ ê°–ê¸°ë„ í•˜ì§€ë§Œ ì—¬ê¸°ì—ì„œëŠ” ì œê±°í–ˆìŠµë‹ˆë‹¤.
    # text = re.sub('[?.,;:|\)*~`â€™!^\-_+<>@\#$%&-=#}â€»]', '', text)
    # í•œê¸€, ì˜ë¬¸, ìˆ«ìë§Œ ë‚¨ê¸°ê³  ëª¨ë‘ ì œê±°í•˜ë„ë¡ í•©ë‹ˆë‹¤.
    # text = re.sub('[^ê°€-í£ã„±-ã…ã…-ã…£a-zA-Z0-9]', ' ', text)
    # í•œê¸€, ì˜ë¬¸ë§Œ ë‚¨ê¸°ê³  ëª¨ë‘ ì œê±°í•˜ë„ë¡ í•©ë‹ˆë‹¤.
    text = re.sub('[^ê°€-í£ã„±-ã…ã…-ã…£a-zA-Z]', ' ', text)
    return text

In [5]:
# %timeì„ ì°ì–´ì£¼ë©´ í•´ë‹¹ ì½”ë“œë¥¼ ì‹¤í–‰í•  ë•Œ ê±¸ë¦¬ëŠ” ì‹œê°„ì„ ì¶œë ¥í•´ ì¤ë‹ˆë‹¤
%time sentences = df['Content_txt'].apply(preprocessing)

CPU times: user 789 ms, sys: 6.42 ms, total: 795 ms
Wall time: 794 ms

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(analyzer = 'word', # ìºë¦­í„° ë‹¨ìœ„ë¡œ ë²¡í„°í™” í•  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.
                             tokenizer = None, # í† í¬ë‚˜ì´ì €ë¥¼ ë”°ë¡œ ì§€ì •í•´ ì¤„ ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.
                             preprocessor = None, # ì „ì²˜ë¦¬ ë„êµ¬
                             stop_words = None, # ë¶ˆìš©ì–´ nltkë“±ì˜ ë„êµ¬ë¥¼ ì‚¬ìš©í•  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.
                             min_df = 2, # í† í°ì´ ë‚˜íƒ€ë‚  ìµœì†Œ ë¬¸ì„œ ê°œìˆ˜ë¡œ ì˜¤íƒ€ë‚˜ ìì£¼ ë‚˜ì˜¤ì§€ ì•ŠëŠ” íŠ¹ìˆ˜í•œ ì „ë¬¸ìš©ì–´ ì œê±°ì— ì¢‹ìŠµë‹ˆë‹¤. 
                             ngram_range=(1,2), # BOWì˜ ë‹¨ìœ„ ê°¯ìˆ˜ì˜ ë²”ìœ„ë¥¼ ì§€ì •í•©ë‹ˆë‹¤.
                             max_features = 2000 # ë§Œë“¤ í”¼ì²˜ì˜ ìˆ˜, ë‹¨ì–´ì˜ ìˆ˜
                            )
vectorizer

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=2000, min_df=2,
                ngram_range=(1, 2), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [17]:
feature_vector = vectorizer.fit_transform(df['Content_txt'])
feature_vector.shape

(61, 2000)

In [19]:
vocab = vectorizer.get_feature_names()
print(len(vocab))
vocab[:500]

2000

['00',
 '00 00',
 '00 pm',
 '000',
 '000ê°œ',
 '000ê°œ ì¦ê°€',
 '000ëª…',
 '000ì›',
 '000ì› ì¢‹ì•„ìš”',
 '000ì› íŒ”ë¡œì›Œ',
 '01',
 '010',
 '010 4811',
 '01044170198',
 '02',
 '03',
 '031',
 '032',
 '041',
 '043',
 '05',
 '051',
 '053',
 '06',
 '07',
 '070',
 '08',
 '09',
 '09 00',
 '10',
 '10 00',
 '10 30',
 '10 í• ì¸',
 '100',
 '10ë¶„',
 '10ì‹œ',
 '10ì›”',
 '11',
 '11 00',
 '11ì‹œ',
 '11ì›”',
 '12',
 '12 00',
 '12 202í˜¸',
 '12ì‹œ',
 '12ì›”',
 '13',
 '14',
 '15',
 '15ì¼',
 '16',
 '17',
 '18',
 '19',
 '1pt',
 '1pt ê·¸ë£¹pt',
 '1ê°œì›”',
 '1ë…„',
 '1ì‹œê°„',
 '1ì›”',
 '1ì¸',
 '1ì¼',
 '1íšŒ',
 '20',
 '2019',
 '2019ë…„',
 '2020',
 '2020 01',
 '20200125',
 '2020ë…„',
 '2020ë…„ 1ì›”',
 '2020ë…„ 2ì›”',
 '2020ë…„ë„',
 '202í˜¸',
 '202í˜¸ ì„œìš¸ì‹œ',
 '2030',
 '20ë§Œì›',
 '21',
 '213',
 '213 12',
 '22',
 '23',
 '24',
 '24ì‹œê°„',
 '24ì¼',
 '25',
 '26',
 '27',
 '27ì¼',
 '28',
 '28ì¼',
 '29',
 '2ì‹œ',
 '2ì‹œê°„',
 '2ì‹œê°„ ë¬´ë£Œ',
 '2ì›”',
 '2ì¼',
 '2ì¸µ',
 '2í˜¸ì ',
 '30',
 '30 30',
 '30pm',
 '30ë¶„',
 '31',
 '31ì¼',
 '35',
 '3570',
 '3570 ë”°ëœ»í•œ',
 '36',
 '36 í˜„ëŒ€í•˜ì´ì—˜',
 '3f',
 '3ê°œì›”',
 '3ì‹œ',
 '3ì›”',
 '3ì¼',
 '3ì¸µ',
 '40',
 '4811',
 '4811 3570',
 '4ì‹œ',
 '4ì¸µ',
 '50',
 '50ë¶„',
 '5ì‹œ',
 '5ì›”',
 '5ì¸µ',
 '60',
 '6ê°œì›”',
 '6ì‹œ',
 '6ì›”',
 '6ì¸µ',
 '7ì‹œ',
 '7ì‹œ30ë¶„',
 '80',
 '8ì‹œ',
 '8ì‹œ30ë¶„',
 '9ì‹œ',
 'aerialyoga',
 'afic',
 'after',
 'all',
 'am',
 'americayoga',
 'americayoga co',
 'an',
 'and',
 'are',
 'art',
 'as',
 'ashtanga',
 'at',
 'bachata',
 'bachata bachatasensual',
 'bachatasensual',
 'back',
 'bali',
 'ballet',
 'bangkok',
 'bangkok salsa',
 'be',
 'beginner',
 'bjj',
 'blog',
 'blog naver',
 'body',
 'boracay',
 'bouldering',
 'boxing',
 'bungee',
 'bungeefitness',
 'bungeefly',
 'bungeefly bungeeflyasia',
 'bungeeflyasia',
 'bungeephysio',
 'but',
 'by',
 'cafe',
 'cafe naver',
 'can',
 'catchme',
 'catchme itaewon',
 'change',
 'choreography',
 'class',
 'climbing',
 'club',
 'co',
 'co kr',
 'com',
 'crossfit',
 'cycle',
 'cycling',
 'daily',
 'dance',
 'dance dancer',
 'dancer',
 'dancing',
 'day',
 'de',
 'diet',
 'dle',
 'dm',
 'dm ë˜ëŠ”',
 'do',
 'drum',
 'en',
 'esgrima',
 'event',
 'exercise',
 'f4f',
 'facebook',
 'feat',
 'fencing',
 'fff',
 'fit',
 'fitness',
 'flyingpilates',
 'flyingyoga',
 'follow',
 'for',
 'free',
 'friday',
 'from',
 'full',
 'fun',
 'get',
 'get_repost',
 'go',
 'good',
 'great',
 'group',
 'gx',
 'gym',
 'gyrokinesis',
 'gyrotonic',
 'gyrotonic gyrokinesis',
 'happy',
 'hathayoga',
 'have',
 'health',
 'healthy',
 'hiking',
 'hip',
 'hiplet',
 'how',
 'http',
 'http blog',
 'http www',
 'https',
 'https blog',
 'https www',
 'id',
 'if',
 'if you',
 'in',
 'in the',
 'instadaily',
 'instagood',
 'instagram',
 'is',
 'it',
 'itaewon',
 'itaewon itaewoncatchme',
 'itaewoncatchme',
 'itaewoncatchme í…ì…˜',
 'jazz',
 'jazzdance',
 'jiujitsu',
 'jumpingfitness',
 'just',
 'kakao',
 'kakao com',
 'kbpf',
 'kendo',
 'kizomba',
 'korea',
 'kpop',
 'kr',
 'kr ì‚´ì‚¬',
 'kr ì„œìš¸íŠ¹ë³„ì‹œ',
 'la',
 'latindance',
 'lesson',
 'let',
 'level',
 'life',
 'like',
 'likeforfollow',
 'love',
 'me',
 'mma',
 'more',
 'motivation',
 'movement',
 'music',
 'my',
 'naver',
 'naver com',
 'new',
 'new year',
 'night',
 'no',
 'not',
 'now',
 'of',
 'of the',
 'on',
 'one',
 'only',
 'ootd',
 'open',
 'or',
 'our',
 'out',
 'paddleboard',
 'party',
 'people',
 'personaltrainer',
 'photo',
 'photography',
 'pilates',
 'pilates gyrotonic',
 'piloxing',
 'piloxing piloxingssp',
 'piloxingbarre',
 'piloxingbarre themix',
 'piloxingcrew',
 'piloxingcrew piloxing',
 'piloxingknockout',
 'piloxingknockout themixbypiloxing',
 'piloxingkorea',
 'piloxingkorea piloxingcrew',
 'piloxingssp',
 'piloxingssp piloxingknockout',
 'pm',
 'pm 00',
 'pole',
 'poledance',
 'poundfit',
 'power',
 'practice',
 'pt',
 'repost',
 'run',
 'running',
 'sa',
 'sa bangkok',
 'sa ë°©ì½•',
 'salatin',
 'salatin co',
 'salsa',
 'salsa bachata',
 'salsa trip',
 'salsaclass',
 'sat',
 'saë¼í‹´ì‚´ì‚¬ëŒ„ìŠ¤í´ëŸ½',
 'saë¼í‹´ì‚´ì‚¬ëŒ„ìŠ¤í´ëŸ½ saì‚´ì‚¬',
 'saë°”ì°¨íƒ€',
 'saë°”ì°¨íƒ€ catchme',
 'saì‚´ì‚¬',
 'saì‚´ì‚¬ saë°”ì°¨íƒ€',
 'sda',
 'see',
 'selca',
 'selfie',
 'seoul',
 'set',
 'sleeksexypowerful',
 'sleeksexypowerful í•„ë¡ì‹±',
 'so',
 'social',
 'sold',
 'sold out',
 'spinning',
 'sports',
 'squat',
 'ssstudio',
 'ssstudio bungeefitness',
 'standuppaddle',
 'start',
 'studio',
 'sun',
 'sup',
 'sup yoga',
 'supkorea',
 'supsurf',
 'supyoga',
 'surf',
 'surfing',
 'surfocean',
 'taeyeon',
 'tango',
 'team',
 'tel',
 'tel 02',
 'thank',
 'that',
 'the',
 'themix',
 'themix sleeksexypowerful',
 'themixbypiloxing',
 'themixbypiloxing piloxingbarre',
 'this',
 'time',
 'to',
 'today',
 'training',
 'travel',
 'trip',
 'trx',
 'trx ë°”ë””íŒí”„',
 'up',
 'us',
 'video',
 'vinyasa',
 'was',
 'waterski',
 'we',
 'week',
 'what',
 'when',
 'will',
 'with',
 'work',
 'workout',
 'world',
 'www',
 'www americayoga',
 'www salatin',
 'year',
 'yinyoga',
 'yog',
 'yog yoga',
 'yoga',
 'yoga pilates',
 'yoga ë§¨ì¦ˆìš”ê°€',
 'you',
 'your',
 'youtube',
 'zumba',
 'ã…‹ã…‹',
 'ã…‹ã…‹ã…‹',
 'ã…‹ã…‹ã…‹ã…‹',
 'ã…‹ã…‹ã…‹ã…‹ã…‹',
 'ã…ã…',
 'ã…ã…ã…',
 'ã…œã…œ',
 'ã… ã… ',
 'ã…¤ã…¤',
 'ê°€ëŠ”',
 'ê°€ëŠ¥',
 'ê°€ëŠ¥ ë„¤ì´ë²„ì—',
 'ê°€ëŠ¥í•œ',
 'ê°€ëŠ¥í•©ë‹ˆë‹¤',
 'ê°€ë“',
 'ê°€ë¡œìˆ˜ê¸¸',
 'ê°€ë³ê²Œ',
 'ê°€ì„œ',
 'ê°€ì„±ë¹„',
 'ê°€ì¥',
 'ê°€ì¡±',
 'ê°€ì§€ê³ ',
 'ê°„ë§Œì—',
 'ê°ì‚¬',
 'ê°ì‚¬ë“œë¦½ë‹ˆë‹¤',
 'ê°ì‚¬í•©ë‹ˆë‹¤',
 'ê°ì‚¬í•´ìš”',
 'ê°‘ë‹ˆë‹¤',
 'ê°‘ìê¸°',
 'ê°•ë‚¨',
 'ê°•ë‚¨êµ¬',
 'ê°•ì‚¬',
 'ê°•ì‚¬ë‹˜ë“±',
 'ê°•ì‚¬ë‹˜ë“± ì •ë³´ê°€',
 'ê°•ì‚¬ì˜',
 'ê°•ì‚¬ì§„',
 'ê°•ìŠµ',
 'ê°•í™”',
 'ê°™ë‹¤',
 'ê°™ì•„ìš”',
 'ê°™ì€',
 'ê°™ì´',
 'ê°œê°•',
 'ê°œì¸',
 'ê°œì¸pt',
 'ê°œì¸ë ˆìŠ¨',
 'ê±°ì˜',
 'ê±´ê°•',
 'ê±´ê°• ë‹¤ì´ì–´íŠ¸',
 'ê±´ê°•ì„',
 'ê±´ê°•í•˜ê²Œ',
 'ê±´ê°•í•˜ê³ ',
 'ê±´ê°•í•œ',
 'ê±´ë¬¼',
 'ê±¸ìŠ¤í™í•©',
 'ê²€ë„',
 'ê²€ìƒ‰',
 'ê²€ìƒ‰í›„',
 'ê²€ìƒ‰í›„ ì§€ë„í´ë¦­',
 'ê²ƒë„']

In [20]:
# ê° ë¦¬ë·°ë§ˆë‹¤ ë“±ì¥í•˜ëŠ” ë‹¨ì–´ì— ë¹ˆë„ìˆ˜ê°€ í‘œí˜„ë©ë‹ˆë‹¤. 0 ì€ ë“±ì¥í•˜ì§€ ì•ŠìŒì„ ì˜ë¯¸í•©ë‹ˆë‹¤.
pd.DataFrame(feature_vector[:10].toarray(), columns=vocab).head()

,00,00 00,00 pm,000,000ê°œ,000ê°œ ì¦ê°€,000ëª…,000ì›,000ì› ì¢‹ì•„ìš”,000ì› íŒ”ë¡œì›Œ,...,íœ˜íŠ¸ë‹ˆìŠ¤,íœ´ë¬´,íë§,íë§ìš”ê°€,í˜ë“,í˜ì„,í˜ì´,í™ë ˆ,í™í•©,í™í•©ëŒ„ìŠ¤
0,17,0,0,1,0,0,0,0,0,0,...,5,1,0,0,0,0,1,0,0,0
1,44,0,0,0,0,0,0,0,0,0,...,1,0,3,0,2,0,3,0,1,0
2,55,1,4,9,0,0,0,11,0,0,...,35,2,4,3,5,13,15,0,0,0
3,126,0,0,4,0,0,0,126,0,0,...,11,1,2,3,3,6,3,0,0,0
4,7,0,0,8,0,0,0,63,0,0,...,0,2,3,0,2,0,2,0,0,0

In [21]:
# ìœ„ì—ì„œ êµ¬í•œ ë‹¨ì–´ë²¡í„°ë¥¼ ë”í•˜ë©´ ë‹¨ì–´ê°€ ì „ì²´ì—ì„œ ë“±ì¥í•˜ëŠ” íšŸìˆ˜ë¥¼ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
# ë²¡í„°í™” ëœ í”¼ì²˜ë¥¼ í™•ì¸í•´ ë´„
# Bag of words ì— ëª‡ ê°œì˜ ë‹¨ì–´ê°€ ë“¤ì–´ìˆëŠ”ì§€ í™•ì¸
dist = np.sum(feature_vector, axis=0)
    
df_freq = pd.DataFrame(dist, columns=vocab)
df_freq

,00,00 00,00 pm,000,000ê°œ,000ê°œ ì¦ê°€,000ëª…,000ì›,000ì› ì¢‹ì•„ìš”,000ì› íŒ”ë¡œì›Œ,...,íœ˜íŠ¸ë‹ˆìŠ¤,íœ´ë¬´,íë§,íë§ìš”ê°€,í˜ë“,í˜ì„,í˜ì´,í™ë ˆ,í™í•©,í™í•©ëŒ„ìŠ¤
0,2952,169,181,184,185,185,192,1464,226,186,...,497,209,823,468,208,258,254,658,302,200

In [22]:
# í–‰ê³¼ ì—´ì˜ ì¶•ì„ Të¡œ ë°”ê¿”ì£¼ê³  ë¹ˆë„ìˆ˜ë¡œ ì •ë ¬
df_freq.T.sort_values(by=0, ascending=False).head(30)

           0
ìš´ë™      9966
ë‹¤ì´ì–´íŠ¸    9858
ìš”ê°€      8372
í•„ë¼í…ŒìŠ¤    8161
ìš´ë™í•˜ëŠ”ì—¬ì  6526
ì¼ìƒ      4843
010     4468
í•¨ê»˜      3748
ìˆëŠ”      3438
ìš´ë™í•˜ëŠ”ë‚¨ì  3375
ë¬¸ì˜      3343
í—¬ìŠ¤      3130
í”Œë¼ì‰ìš”ê°€   3102
yoga    3071
ë„ˆë¬´      3020
00      2952
the     2785
ìˆìŠµë‹ˆë‹¤    2782
ìš´ë™ìŠ¤íƒ€ê·¸ë¨  2589
ì‚´ì‚¬      2569
2020    2492
ë°”ì°¨íƒ€     2490
ì˜¤ëŠ˜      2482
ìˆ˜ì—…      2450
ë§ì´      2439
ì†Œí†µ      2433
ë²ˆì§€í”¼íŠ¸ë‹ˆìŠ¤  2429
30      2375
ì¢‹ì•„ìš”     2266
ë²ˆì§€í”Œë¼ì´   2241

In [24]:
df_freq_T = df_freq.T.reset_index()
df_freq_T.columns = ["keyword", "freq"]
# ê°•ì˜ëª…ì„ í† í° 3ê°œë¡œ ì¤‘ë³µì œê±°í•˜ê¸° ìœ„í•´, ê°•ì¢Œëª…ì—ì„œ ì§€ì‹ê³µìœ ìì˜ ì´ë¦„ì„ ë¹ˆë¬¸ìì—´ë¡œ ë³€ê²½
df_freq_T["keyword"] = df_freq_T["keyword"]
df_freq_T["keyword"] = df_freq_T["keyword"].apply(lambda x : " ". join(x.split()[:4]))
df_freq_T.sort_values(["keyword", "freq"], ascending=False).head(10)

     keyword  freq
1999    í™í•©ëŒ„ìŠ¤   200
1998      í™í•©   302
1997      í™ë ˆ   658
1996      í˜ì´   254
1995      í˜ì„   258
1994      í˜ë“    208
1993    íë§ìš”ê°€   468
1992      íë§   823
1991      íœ´ë¬´   209
1990    íœ˜íŠ¸ë‹ˆìŠ¤   497

In [25]:
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer(smooth_idf=False)
transformer

TfidfTransformer(norm='l2', smooth_idf=False, sublinear_tf=False, use_idf=True)

In [26]:
%%time 
feature_tfidf = transformer.fit_transform(feature_vector)
feature_tfidf.shape

CPU times: user 6.82 ms, sys: 972 Âµs, total: 7.79 ms
Wall time: 6.77 ms

(61, 2000)

In [27]:
feature_tfidf

<61x2000 sparse matrix of type '<class 'numpy.float64'>'
	with 60269 stored elements in Compressed Sparse Row format>

In [28]:
# ê° rowì—ì„œ ì „ì²´ ë‹¨ì–´ê°€ë°©ì— ìˆëŠ” ì–´íœ˜ì—ì„œ ë“±ì¥í•˜ëŠ” ë‹¨ì–´ì— ëŒ€í•œ one-hot-vectorì— TF-IDF ê°€ì¤‘ì¹˜ ë°˜ì˜
tfidf_freq = pd.DataFrame(feature_tfidf.toarray(), columns=vocab)
tfidf_freq.head()

,00,00 00,00 pm,000,000ê°œ,000ê°œ ì¦ê°€,000ëª…,000ì›,000ì› ì¢‹ì•„ìš”,000ì› íŒ”ë¡œì›Œ,...,íœ˜íŠ¸ë‹ˆìŠ¤,íœ´ë¬´,íë§,íë§ìš”ê°€,í˜ë“,í˜ì„,í˜ì´,í™ë ˆ,í™í•©,í™í•©ëŒ„ìŠ¤
0,0.005964,0.000000,0.000000,0.000560,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.002551,0.000459,0.000000,0.000000,0.000000,0.000000,0.000394,0.0,0.000000,0.0
1,0.015845,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000524,0.000000,0.001135,0.000000,0.000850,0.000000,0.001213,0.0,0.000743,0.0
2,0.037123,0.001269,0.005077,0.009697,0.0,0.0,0.0,0.008334,0.0,0.0,...,0.034349,0.001765,0.002836,0.003983,0.003983,0.010894,0.011364,0.0,0.000000,0.0
3,0.026986,0.000000,0.000000,0.001368,0.0,0.0,0.0,0.030290,0.0,0.0,...,0.003426,0.000280,0.000450,0.001264,0.000758,0.001596,0.000721,0.0,0.000000,0.0
4,0.001482,0.000000,0.000000,0.002704,0.0,0.0,0.0,0.014972,0.0,0.0,...,0.000000,0.000554,0.000667,0.000000,0.000500,0.000000,0.000475,0.0,0.000000,0.0

In [29]:
df_tfidf = pd.DataFrame(tfidf_freq.sum())
df_tfidf_top = df_tfidf.sort_values(by=0, ascending=False)
df_tfidf_top.head(10)

               0
ìš´ë™      4.416694
í•„ë¼í…ŒìŠ¤    4.055385
ë‹¤ì´ì–´íŠ¸    4.055243
ìš”ê°€      4.040307
ìš´ë™í•˜ëŠ”ì—¬ì  2.921596
ì¼ìƒ      2.224476
ì•„ì¿ ì•„ë°”ì´í¬  2.022201
í”Œë¼ì‰ìš”ê°€   1.983279
í—¬ìŠ¤      1.885728
sup     1.823076

In [30]:
# ì¤‘ê°„ì— ìƒëµë˜ëŠ” ë‹¨ì–´ë¥¼ ìì„¸íˆ ë³´ê³ ì í•  ë•Œ
for t in df_tfidf_top.index[:30]:
    print(t)

ìš´ë™
í•„ë¼í…ŒìŠ¤
ë‹¤ì´ì–´íŠ¸
ìš”ê°€
ìš´ë™í•˜ëŠ”ì—¬ì
ì¼ìƒ
ì•„ì¿ ì•„ë°”ì´í¬
í”Œë¼ì‰ìš”ê°€
í—¬ìŠ¤
sup
010
yoga
íŒ¨ë“¤ë³´ë“œ
ê¸°êµ¬í•„ë¼í…ŒìŠ¤
ìš´ë™í•˜ëŠ”ë‚¨ì
í”Œë¼ì‰
í•¨ê»˜
ë¹ˆì•¼ì‚¬
ìŠ¤í”¼ë‹
ìš´ë™ìŠ¤íƒ€ê·¸ë¨
ì•„ì‰¬íƒ•ê°€
ë¬¸ì˜
ìˆëŠ”
ìˆ˜ì˜
ì„œí•‘
ì¤Œë°”
ë„ˆë¬´
ë°œë ˆ
ë²ˆì§€í”¼íŠ¸ë‹ˆìŠ¤
pilates

In [ ]:
from math import log10

# =======================================
# -- TF-IDF function
# =======================================
def f(t, d):
    # d is document == tokens
    return d.count(t)

def tf(t, d):
    # d is document == tokens
    return 0.5 + 0.5*f(t,d)/max([f(w,d) for w in d])

def idf(t, D):
    # D is documents == document list
    numerator = len(D)
    denominator = 1 + len([ True for d in D if t in d])
    return log10(numerator/denominator)

def tfidf(t, d, D):
    return tf(t,d)*idf(t, D)

def tokenizer(d):
    # return [ t for t in d.split() if len(t) > 1 ]
    return d.split()

def tfidfScorer(D):
    tokenized_D = [tokenizer(d) for d in D]
    result = []
    for d in tokenized_D:
        result.append([(t, tfidf(t, d, tokenized_D)) for t in d])
    return result


if __name__ == '__main__':
    corpus = df['Content_txt'].tolist()

    for i, doc in enumerate(tfidfScorer(corpus)):
        print('====== document[%d] ======' % i)
        print(doc)

        # http://blog.naver.com/PostView.nhn?blogId=vangarang&logNo=221072014624&parentCategoryNo=&categoryNo=35&viewDate=&isShowPopularPosts=true&from=search